@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding-top: 25px;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); 
    color: #eee;
    height: 100%;
    min-height: 100vh;
}

.weather-wrapper {
    width: 100%;
}

h1 {
    text-align: center;
}

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

input {
    background: transparent;
    border: 2px solid #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 3px 0;
}

input:hover, input:focus {
    border: 2px solid #fff;
    outline: none;
}

.week-weather {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


h2 {
    color: #fff;
    margin-top: 10px;
}


.weather-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}


div.icon {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

#desc {
    margin-top: 15px;
    font-weight: bold;
}

.weather-parameter {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}



